html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;

}

// Material Angular
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// toaster 
@import '~ngx-toastr/toastr.css';
